:host {
    display: inline-block;
    height: auto;
    width: auto;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    text-align: center;

    &.game {
        box-shadow: 5px 10px #55555588;
    }

    h1 {
        margin-top: 0px;
        padding-top: 0.67em;
    }

    h2 {
        text-decoration: underline;
        margin-bottom: 0px;
        padding-bottom: 0.67em;
    }

    h3 {
        margin-top: 12px;
        margin-bottom: 0px;
        padding-bottom: 0.67em;
    }

    .desc {
        margin-left: 5%;
        margin-right: 5%;
    }

    img {
        max-width: 45%;
    }

    .Action {
        background-color: #d2686e;
    }

    .Multiplayer {
        background-color: #799cb9;
    }

    .RPG {
        background-color: #bdd4bc;
    }

    li {
        background-color: #fadb6f;
    }

    .tagList {
        list-style-position: inside;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .tag {
        background-color: transparent;
        align-items: center;
    }
}
