<!-- {{ content?.id }} -->
<li class="{{ content?.type }}" *ngIf="content">
    <h1 class="title">{{ content?.title }}</h1>
    <a (click)="log()" clickable>
        <img *ngIf="content?.imgURL; else imageElse" src="{{ content?.imgURL }}">
        <ng-template #imageElse>
            <img src="../assets/nullimage.jpg">
        </ng-template>

    </a>
    <h2>Developer:</h2>
    <h3 class="creator">{{ content?.creator }}</h3>
    <p class="desc">{{ content?.description }}</p>
    <h2>Genre:</h2>
    <h3 *ngIf="content?.type; else elseBlock" class="type" appHoverAffect>
        {{ content?.type }}
    </h3>
    <ng-template #elseBlock>No Genre Associated</ng-template>
    <h3 *ngIf="content?.tags" class="tagsTitle"><b><u>Tags</u></b></h3>
    <ul *ngIf="content?.tags" class="tagList">
        <li *ngFor="let tag of content?.tags" class="tag">{{ tag }}</li>
    </ul>
</li>