<div>
    <label>ID: <input #tempid type="number"></label>
</div>
<div>
    <label>Title: <input #title></label>
</div>
<div>
    <label>Description: <input #description></label>
</div>
<div>
    <label>Creator: <input #creator></label>
</div>
<div>
    <label>Image URL: <input #imgURL></label>
</div>
<div>
    <label>Type: <input #type></label>
</div>
<div>
    <label>Tags: <input #temptags></label>
</div>
<div>
    <button (click)="modifyOrAddItemToParent(tempid.value, title.value, description.value, creator.value, imgURL.value, type.value, temptags.value)">{{ buttText  }}</button>
</div>