<div id="search">
    <input #searchTitle>
    <br><br>
    <button (click)="searchContent(searchTitle.value)">Search</button>
    <h4 class="outputText">{{ searchContent(searchTitle.value) }}</h4>
</div>

<ul>
    <app-content-card *ngFor="let item of (list | type); index as i; last as isLast; first as isFirst"
     [content]="item" [class.is-first]="isFirst" [class.is-last]="isLast" id="{{ item.title }}" appHoverAffect>
    </app-content-card>

    <app-content-card *ngFor="let item of (list | type: 'RPG'); index as i; last as isLast; first as isFirst"
     [content]="item" [class.is-first]="isFirst" [class.is-last]="isLast" id="{{ item.title }}" appHoverAffect>
    </app-content-card>

    <app-content-card *ngFor="let item of (list | type: 'Action'); index as i; last as isLast; first as isFirst"
     [content]="item" [class.is-first]="isFirst" [class.is-last]="isLast" id="{{ item.title }}" appHoverAffect>
    </app-content-card>

    <app-content-card *ngFor="let item of (list | type: 'Multiplayer'); index as i; last as isLast; first as isFirst"
     [content]="item" [class.is-first]="isFirst" [class.is-last]="isLast" id="{{ item.title }}" appHoverAffect>
    </app-content-card>
</ul>