:host {
    ul {
        display: inline-flexbox;
        list-style: none;
        columns: 2;
    }

    #search {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        text-align: center;
    }

    h4.goodSearch {
        color: green;
    }

    h4.badSearch {
        color: red;
    }

    .Action {
        background-color: red;
    }
}
