:host {
    ul {
        display: inline-flexbox;
        list-style: none;
        columns: 2;
    }

    p.goodSearch {
        color: green;
    }

    p.badSearch {
        color: red;
    }

    .Action {
        background-color: red;
    }
}
